/* google font: lato, poppins, roboto */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@200&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'lato', sans-serif;
    background-color: #eee;
    color: #363636;
}

.shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.pt30 {
    padding-top: 30px;
}

.roterclick {
    display: inline-block;
    font-weight: 700;
    transition: 300ms all ease;
}

.rotate-2 {
    transform: rotate(90deg);
}

.dropdown-menu-list {
    padding-left: 30px;
}

label {
    margin-block: 15px;
}

lable input {
    margin-top: 5px;
}

/* index page */
section.shmu-nav {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #777;
    position: fixed;
    top: 0;
    left: 0;
    width: 25vw;
    height: 100vh;
    overflow: auto;
    /* z-index: 999; */
}

section.shmu-nav::-webkit-scrollbar {
    width: 5px;
    background-color: #f1f2f1;
}

section.shmu-nav::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #d9d9d9;
}

section.shmu-nav .shmu-nav-section {
    position: relative;
}

section.shmu-nav .shmu-nav-section .nav-header {
    position: sticky;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100%;
    padding-block: 0 30px;
    background-color: #f9f9f9;
}

section.shmu-nav .shmu-nav-section .nav-header .nav-header-logo img {
    width: 90%;
}

section.shmu-nav .side-nav aside {
    padding : 30px;
}

section.shmu-nav .side-nav aside nav {
    padding-block: 30px;
}

section.shmu-nav .side-nav aside nav ul {
    list-style: none;
    line-height: 60px;
    width: 100%;
    font-size: 1.2rem;
    transition: 150ms all ease-in-out;
    font-weight: 600;
}

section.shmu-nav .side-nav aside nav ul a li:hover {
    background-color: #1AB69D;
    color: #f9f9f9;
    transition: 150ms all ease-in-out;
}

section.shmu-nav aside a {
    color: #1AB69D;
    text-decoration: none;
}

/* header css */

section.shmu-header {
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    height: 80px;
    background-color: #1AB69D;
    color: #f9f9f9;
    transition: 300ms all ease-in-out;
    z-index: 999;
}

section.shmu-header .header-menu-icon {
    cursor: pointer;
    padding-bottom: 10px;
}

section.shmu-header .header-menu-icon .burger-menu-ani {
    position: relative;
    display: inline-block;
    content: "";
    height: 3px;
    width: 30px;
    background-color: #f9f9f9;
}

section.shmu-header .header-menu-icon .burger-menu-ani::before {
    position: absolute;
    top: 300%;
    right: 0;
    content: "";
    height: 3px;
    width: 20px;
    background-color: #f9f9f9;
}

section.shmu-header .header-menu-icon .burger-menu-ani::after {
    position: absolute;
    bottom: 300%;
    right: 0;
    content: "";
    height: 3px;
    width: 25px;
    background-color: #f9f9f9;
}

section.shmu-header .shmu-header-section header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 30px;
}

section.shmu-header .shmu-header-section header .header-feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.shmu-header .shmu-header-section header .header-feature .header-feature-ele i{
    font-size: 2rem;
    padding-inline: 15px;
    cursor: pointer;
}
section.shmu-header .admin-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

section.shmu-header .admin-section .admin-img img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

section.shmu-header .admin-section .admin-name p:first-child{
    font-size: 1.2rem;
}

main {
    padding-top: 60px;
    padding-left: 25vw;
}

main .graph-chart, main section.activities, main section.subscriber, main section.report, main section.page-content {
    padding: 30px;
}

div.page-head h1 {
    color: #1AB69D;
    font-size: 1.5rem;
    font-weight: 700;
}

main .graph-chart .graph-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main .graph-chart .chart-card {
    padding-block: 30px;
    font-size: 2rem;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin: 15px;
    font-weight: bold;
    flex: 1;
}

main .graph-chart .chart-card:nth-child(odd) {
    color: #28A745;
    transition: 300ms all ease;
}

main .graph-chart .chart-card:nth-child(odd):hover {
    background-color: #28A745;
    color: #f9f9f9;
    transition: 300ms all ease;
}

main .graph-chart .chart-card:nth-child(even) {
    color: #2980B9;
    transition: 300ms all ease;
}

main .graph-chart .chart-card:nth-child(even):hover {
    background-color: #2980B9;
    color: #f9f9f9;
    transition: 300ms all ease;
}

main .graph-chart .graph-chart-ele {
    padding: 15px 0;
}

main .graph-chart .chart-bar {
    background-color: #f9f9f9;
    border-radius: 5px;
    height: 100%;
}

main section.chartline {
    padding: 30px;
}

main section.chartline .chart-section {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 30px;
}

/* activities page */
main section.activities .today-activities, main section.subscriber .subscriber-table, main section.report .report-problem, main section.page-content .section {
    margin-top: 30px;
    padding: 30px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

main section.activities .today-activities .card-act-heading {
    margin-bottom: 30px;
}

main section.activities .today-activities .card-act-body {
    display: flex;
    border-bottom: 1px solid #aaa;
    padding-block: 15px;
}

main section.activities .today-activities .card-act-body:nth-last-child(1) {
    border-bottom: 0;
}

main section.activities .today-activities .card-act-body .card-act-img img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

main section.activities .today-activities .card-act-body .card-act-details .act-work{
    font-size: 1.1rem;
    font-weight: 700;
}

main section.activities .today-activities .card-act-body .card-act-details .act-time{
    font-size: 1rem;
    font-weight: 500;
    line-height: 32px;
}

/* subscriber page */
main section.subscriber .sub-line-chart {
    padding: 30px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

main section.subscriber .subscriber-table .mail-copy-btn {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

main section.subscriber .subscriber-table .mail-copy-btn button {
    background-color: #1AB69D;
    cursor: pointer;
    color: #f9f9f9;
    font-weight: 5  00;
    border-radius: 5px;
    border: 1px solid #0f927c;
    padding: 5px;
    transition: 300ms all ease;
}

main section.subscriber .subscriber-table .mail-copy-btn button:hover {
    background-color: #0f927c;
    transition: 300ms all ease;
}

main section.subscriber .subscriber-table .mail-copy-btn button:focus {
    background-color: #0b7462;
    transition: 300ms all ease;
}

main section.subscriber .subscriber-table table {
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

main section.subscriber .subscriber-table .subscriber-list table tr{
    border: 1px solid #ff1515;
}

main section.subscriber .subscriber-table .subscriber-list table thead tr{
    text-transform: uppercase;
    border: 1px solid #828282;
    background: #E5E5E5;
}

main section.subscriber .subscriber-table .subscriber-list table thead tr th{
    padding: 10px;
}

main section.subscriber .subscriber-table .subscriber-list table tr td {
    border: 1px solid #f1f1f1;
    padding: 5px;
}

/* report page */
main section.report .report-problem form {
    padding-top: 30px;
}

main section.report .report-problem form label {
    display: block;
    margin-bottom: 15px;
}

main section.report .report-problem form label .input-item {
    display: block;
    margin-top: 5px;
    min-width: 250px;
    width: 70%;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    font-size: 1rem;
    color: #777;
}

main section.report .report-problem form label .input-item:focus {
    box-shadow: 0 0 5px #1AB69D;
    outline: none;
    border: 0.5px;
    transition: 300ms all ease;
}

main section.report .report-problem form input[type="submit"] {
    background-color: #1AB69D;
    cursor: pointer;
    color: #f9f9f9;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    padding: 5px;
    transition: 300ms all ease;
}

main section.report .report-problem form input[type="submit"]:hover {
    background-color: #16ac93;
    border: 0.5px solid #1AB69D;
}

/* default page style */
main section.page-content .section  .section-head {
    display: flex;
    justify-content: space-between;
}

main section.page-content .section .editbtn button {
    background-color: #1AB69D;
    cursor: pointer;
    color: #f9f9f9;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    padding: 5px;
    transition: 300ms all ease;
}

main section.page-content .section .editbtn button:hover {
    background-color: #0c695a;
    border: #1AB69D;
    transition: 300ms all ease;
}

main section.page-content .section .editbtn button:focus {
    background-color: #09493e;
    border: #1AB69D;
    transition: 300ms all ease;
}

main section.page-content .section .editbtn button #editDisable {
    display: none;
}

main section.page-content .section .section-body form .img-element-group {
    display: flex;
    flex-wrap: wrap;
}

main section.page-content .section .section-body form .img-group {
    padding-top: 30px;
    padding: 15px;
}

main section.page-content .section .section-body form .img-group #heroimg {
    width: 150px;
    height: 120px;
}

main section.page-content .section .section-body form .filehero {
    display: none;
}

main section.page-content .section .section-body form .sectionSubmit {
    display: none;
}

main section.page-content .section .section-body form input[type='submit'] {
    background-color: #1AB69D;
    cursor: pointer;
    color: #f9f9f9;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3px;
    border: 1px solid #1AB69D;
    padding: 5px;
    transition: 300ms all ease;
    margin-top: 15px;
}

main section.page-content .section .section-body form input[type='submit']:hover {
    background-color: #f9f9f9;
    color: #1AB69D;
}

main section.page-content .section .section-body form button[type='cancel'] {
    border: 1px solid #1AB69D;
    background-color: #f9f9f9;
    cursor: pointer;
    color: #1AB69D;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3px;
    padding: 5px;
    transition: 300ms all ease;
    margin-top: 15px;
}

main section.page-content .section .section-body form button[type='cancel']:hover {
    background-color: #1AB69D;
    color: #f9f9f9;
    transition: 300ms all ease;
}

main section.page-content .section .section-body .input-item {
    display: block;
    margin-top: 5px;
    min-width: 250px;
    width: 100%;
    border: 1px solid #1AB69D;
    border-radius: 3px;
    padding: 5px;
    font-size: 1rem;
    color: #777;
}

main section.page-content .section .section-body .text-img img {
    height: 150px;
    width: 120px;
}

/* all responsive element here */
@media (max-width: 900px) {
    section.shmu-nav {
        width: 30vw;
    }
    section.shmu-header {
        width: 70vw;
    }
    main {
        padding-left: 30vw;
    }
    section.shmu-nav .side-nav aside {
        padding-right: 0;
    }
}